/* Coolors Exported Palette - coolors.co/5f1101-850101-d04218-d42200-af2300 */

/* HSL */
$color1: hsla(10%, 98%, 19%, 1);
$color2: hsla(0%, 99%, 26%, 1);
$color3: hsla(14%, 79%, 45%, 1);
$color4: hsla(10%, 100%, 42%, 1);
$color5: hsla(12%, 100%, 34%, 1);

/* RGB */
$red1: rgba(95, 17, 1, 1);
$red2: rgba(133, 1, 1, 1);
$color3: rgba(208, 66, 24, 1);
$color4: rgba(212, 34, 0, 1);
$color5: rgba(175, 35, 0, 1);
